<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898555262184-35m1utsd06gl7tso0hoi7djds6q8uiun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898555262184-35m1utsd06gl7tso0hoi7djds6q8uiun</string>
	<key>API_KEY</key>
	<string>AIzaSyApaISDiGMsy8KxU0ED29o_19TCBPcKUmU</string>
	<key>GCM_SENDER_ID</key>
	<string>898555262184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluwinter.Cafegation</string>
	<key>PROJECT_ID</key>
	<string>cafegation</string>
	<key>STORAGE_BUCKET</key>
	<string>cafegation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898555262184:ios:57ac555c2064395557455d</string>
</dict>
</plist>